<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>TIMS WEB TEST</title>

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">









</head>

<body>

	<div id="wrapper">
		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">
			<h1>
				&nbsp; <span class="badge badge-secondary bg-primary">Tracom</span>
			</h1>
			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">DataTables
						Example</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th>Name</th>
									<th>Position</th>
									<th>Office</th>
									<th>Age</th>

								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Name</th>
									<th>Position</th>
									<th>Office</th>
									<th>Age</th>

								</tr>
							</tfoot>
							<tbody>
								<tr th:each="item, stat : ${testList}">
									<td scope="row" th:text="${stat.count}"></td>
									<td th:text="${item.id}"></td>
									<td th:text="${item.name}"></td>
									<td th:text="${item.age}"></td>
								</tr>

							</tbody>
						</table>
						
						
						
						<table class="table table-bordered" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th>Name</th>
									<th>Position</th>
									<th>Office</th>
									<th>Age</th>

								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Name</th>
									<th>Position</th>
									<th>Office</th>
									<th>Age</th>

								</tr>
							</tfoot>
							<tbody>
								<tr th:each="item, stat : ${testList}">
									<td scope="row" th:text="${stat.count}"></td>
									<td th:text="${item.id}"></td>
									<td th:text="${item.name}"></td>
									<td th:text="${item.age}"></td>
								</tr>

							</tbody>
						</table>
			
						
						
						
					</div>
				</div>
			</div>
		</ul>
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


					<ul class="navbar-nav ml-auto">
						<a href="#" class="btn btn-primary btn-icon-split"> <span
							class="icon text-white-50"> <i class="fas fa-flag"></i>
						</span> <span class="text">추가</span>
						</a>
						<a href="#" class="btn btn-danger btn-icon-split"> <span
							class="icon text-white-50"> <i class="fas fa-trash"></i>
						</span> <span class="text">삭제</span>
						</a>
					</ul>


				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->

				<div class="container-fluid">

					<!-- Page Heading -->
					
					<!-- <form action="main" method="post">
					<div style="float:right;">
					
							<label>IP :<input type="search" name="ip" id="ip" value="192.168.34.6"
											class="form-control form-control-sm" 
											aria-controls="dataTable">
							</label>
							<label>PORT :<input type="search" name="port" value="8083"
											id="port" class="form-control form-control-sm"
											aria-controls="dataTable">
							</label>
						<button type="submit" class="btn btn-outline-primary" onClick="button_click()">연결</button>
						<button type="button" class="btn btn-outline-secondary">저장</button>
					</div> 
					</form>
					 -->
				


					<!-- <div class="card position-relative">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Send Info</h6>
						</div>
						<div class="card-body">
							<label>IP :<input type="search" name="ip" id="ip"
								value="192.168.34.6" class="form-control form-control-sm"
								aria-controls="dataTable">
							</label> <label>PORT :<input type="search" name="port"
								value="8083" id="port" class="form-control form-control-sm"
								aria-controls="dataTable">
							</label>

						</div>
					</div>

 -->




					<form action="main" method="post">
					
					
					
					
					<div class="col-lg-7">
					
						<div class="input-group">
							<div class="input-group-prepend">
    							<span class="input-group-text" id="basic-addon1">IP</span>
  							</div>
  							<input type="search" name="ip" id="ip"
								value="192.168.34.6" class="form-control"
								aria-controls="dataTable">
  							
  							
  							<div class="input-group-prepend">
    							<span class="input-group-text" id="basic-addon1">PORT</span>
  							</div>
  							<input type="search" name="port"
								value="8083" id="port" class="form-control"
								aria-controls="dataTable">
  							
  							
  							<div class="input-group-append" id="button-addon4">
    							<button type="submit" class="btn btn-outline-primary" onClick="button_click()">연결</button>
    							<button class="btn btn-outline-secondary" type="button">연결해제</button>
  							</div>
						</div>
						<br>
					
				</div>
					
					
					
						<!-- Content Row -->
						<div class="row">

							<!-- Grow In Utility -->
							<div class="col-lg-4">


								<div class="card position-relative">
									<div class="card-header py-3">
										<h6 class="m-0 font-weight-bold text-primary">Header</h6>
									</div>

									<div class="card-body">
										
											<!-- 
											<div class="dropdown">
												<button class="btn btn-secondary dropdown-toggle"
													type="button" id="protocolIndicator" data-toggle="dropdown"
													aria-haspopup="true" aria-expanded="false">A</button>
												<div class="dropdown-menu"
													aria-labelledby="dropdownMenuButton" id="protocolIndicator">
													<a class="dropdown-item" href="#">Action</a> <a
														class="dropdown-item" href="#">Another action</a> <a
														class="dropdown-item" href="#">Something else here</a>

												</div>
											</div>
											-->

											<div class="form-group">
												<label for="protocolIndicator">Protocol Indicator:</label> <select class="form-control"  name="protocolIndicator"
													id="protocolIndicator">
													<option>A</option>
													<option>a</option>
												</select>
											</div>

										

										<!--  

											<label>Header Size: <input type="search"
												name="headerSize" id="headerSize"
												class="form-control form-control-sm" placeholder="123"
												aria-controls="dataTable">
											</label> <input type="submit" value="전송테스트">
											테스트하는중 -->


										<label>Header Size: <input type="search"
											name="headerSize" id="headerSize" value="20"
											class="form-control form-control-sm" placeholder="헤더사이즈"
											onfocus="this.placeholder=''"
											onblur="this.placeholder='헤더사이즈'" aria-controls="dataTable">
										</label> <label>Protocol Version:<input type="search" 
											name="protocolVersion" id="protocolVersion" value="1"
											class="form-control form-control-sm"  placeholder="프로토콜버전" 
											onfocus="this.placeholder=''" onblur="this.placeholder='프로토콜버전'" 
											aria-controls="dataTable">
										</label> <label>Packet ID:<input type="search" name="packetID" id="packetID"  value="0" 
											class="form-control form-control-sm"
											placeholder="패킷ID" onfocus="this.placeholder=''"
											onblur="this.placeholder='패킷ID'" aria-controls="dataTable">
										</label> <div class="form-group">
												<label for="protocolOption">Protocol Option:</label> 
												
												
												<table class="table table-bordered">
											<thead>
												<tr>
													<th scope="col">LF</th>
													<th scope="col">RF</th>
													<th scope="col">CE</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
													<select class="form-control" name="LF"
													id="LF" >
													 	
														<option>0</option>
														<option>1</option>
													</select>
												</td>
													<td><select class="form-control" name="RF"
													id="RF">
														<option>0</option>
														<option>1</option>
													</select></td>
													<td><select class="form-control" name="CE"
													id="CE">
														<option>0</option>
														<option selected>1</option>
													</select></td>

												</tr>
												<tr>
													<th scope="col">TR</th>
													<th scope="col">TO</th>
													<th scope="col">RC</th>

												</tr>
												<tr>
													<td><select class="form-control" name="TR"
													id="TR">
														<option>0</option>
														<option>1</option>
													</select></td>
													<td><select class="form-control" name="TO"
													id="TO">
														<option>0</option>
														<option>1</option>
														<option>2</option>
														<option selected>3</option>
													</select></td>
													<td><select class="form-control" name="RC"
													id="RC">
														<option>0</option>
														<option>1</option>
														<option>2</option>
														<option selected>3</option>
													</select></td>
												</tr>
											</tbody>
										</table>
												
											</div>  
											<div class="form-group">
												<label for="opCode">OP Code:</label> 
												<select class="form-control" name="opCode"
													id="opCode" onChange="goChange(this.value)">
													<option>OP_GET_REQ</option>
													<option>OP_SET_REQ</option>
													<option>OP_ACTION_REQ</option>
													<option>OP_ACTION_RES</option>
													<option>OP_EVENT_REQ</option>
								
												</select>
											</div> 
											

										<table class="table table-bordered">
											<thead>
												<tr>
													<th scope="col">#</th>
													<th scope="col">SID</th>
													<th scope="col">DID</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">ServiceID</th>
													<td><input type="search" name="sidService"
														id="sidService" class="form-control form-control-sm"
														aria-controls="dataTable"></td>
													<td><input type="search" name="didService"
														id="didService" class="form-control form-control-sm"
														aria-controls="dataTable"></td>

												</tr>
												<tr>
													<th scope="row">GroupID</th>
													<td><input type="search" name="sidGroup" id="sidGroup"
														class="form-control form-control-sm"
														aria-controls="dataTable"></td>
													<td><input type="search" name="didGroup" id="didGroup"
														class="form-control form-control-sm"
														aria-controls="dataTable"></td>

												</tr>
												<tr>
													<th scope="row">SystemID</th>
													<td><input type="search" name="sidSystem"
														id="sidSystem" class="form-control form-control-sm"
														aria-controls="dataTable"></td>
													<td><input type="search" name="didSystem"
														id="didSystem" class="form-control form-control-sm"
														aria-controls="dataTable"></td>
												</tr>
											</tbody>
										</table>


									</div>
								</div>

							</div>

							<!-- Grow In Utility -->
							<div class="col-lg-2">
								<div class="card position-relative">
									<div class="card-header py-3">
										<h6 class="m-0 font-weight-bold text-primary">Option</h6>
									</div>
									<div class="card-body">
										<label>횟수 :<input type="search" name="totalSeq"
											id="totalSeq" class="form-control form-control-sm"
											placeholder="횟수" onfocus="this.placeholder=''"
											onblur="this.placeholder='횟수'" aria-controls="dataTable">
										</label> <label>주기 :<input type="search" name="cycle"
											id="cycle" class="form-control form-control-sm"
											placeholder="주기" onfocus="this.placeholder=''"
											onblur="this.placeholder='주기'" aria-controls="dataTable">
										</label>

									</div>
								</div>

<!-- 
								<div class="card position-relative">
									<div class="card-header py-3">
										<h6 class="m-0 font-weight-bold text-primary">Send Info</h6>
									</div>
									<div class="card-body">
										<label>IP :<input type="search" name="ip" id="ip" value="192.168.34.6"
											class="form-control form-control-sm" 
											aria-controls="dataTable">
										</label> <label>PORT :<input type="search" name="port" value="8083"
											id="port" class="form-control form-control-sm"
											aria-controls="dataTable">
										</label>
										
									</div>
								</div>
 -->

							</div>



							<!-- Fade In Utility -->
							<div class="col-lg-6">






<!-- 
								<div class="card position-relative" id="getReq">
									<div class="card-header py-3">
										<h6 class="m-0 font-weight-bold text-primary">GetReq</h6>
									</div>
									<div class="card-body">
										<div class="form-group">
											<textarea class="form-control" name="payload" id="payload"
												rows="10"></textarea>
										</div>
											

									</div>
								</div>
 -->								
								<div class="card position-relative" id="getReq">
									<div class="card-header py-3">
										<h6 class="m-0 font-weight-bold text-primary">GetReq</h6>
									</div>
									<div class="card-body">
										<label>Attribute ID :<input type="search" name="atIdGreq" id="atIdGreq"
											class="form-control form-control-sm" placeholder="AttributeID"
											onfocus="this.placeholder=''" onblur="this.placeholder='AttributeID'"
											aria-controls="dataTable">
										</label>
									</div>
								</div>
								
								
								<div class="card position-relative" id="setReq" style=display:none;>
									<div class="card-header py-3">
										<h6 class="m-0 font-weight-bold text-primary">SetReq</h6>
									</div>
									<div class="card-body">
										<label>Attribute ID :<input type="search" name="atIdSreq" id="atIdSreq"
											class="form-control form-control-sm" placeholder="AttributeID"
											onfocus="this.placeholder=''" onblur="this.placeholder='AttributeID'"
											aria-controls="dataTable">
										</label><br>
										<label>Attribute Size :<input type="search" name="atSizeSreq" id="atSizeSreq"
											class="form-control form-control-sm" placeholder="AttributeSize"
											onfocus="this.placeholder=''" onblur="this.placeholder='AttributeSize'"
											aria-controls="dataTable">
										</label><br>
										<label>Attribute Data :<input type="search" name="atDataSreq" id="atDataSreq"
											class="form-control form-control-sm" placeholder="AttributeData"
											onfocus="this.placeholder=''" onblur="this.placeholder='AttributeData'"
											aria-controls="dataTable">
										</label>
									</div>
								</div>
								
								
								
								<div class="card position-relative" id="actionReq" style=display:none;>
									<div class="card-header py-3">
										<h6 class="m-0 font-weight-bold text-primary">ActionReq</h6>
									</div>
									<div class="card-body">
										
										<label>Attribute ID :<input type="search" name="atIdAreq" id="atIdAreq"
											class="form-control form-control-sm" placeholder="AttributeID"
											onfocus="this.placeholder=''" onblur="this.placeholder='AttributeID'"
											aria-controls="dataTable">
										</label><br>
										<label>Action Size :<input type="search" name="actionSizeAreq" id="actionSizeAreq"
											class="form-control form-control-sm" placeholder="ActionSize"
											onfocus="this.placeholder=''" onblur="this.placeholder='ActionSize'"
											aria-controls="dataTable">
										</label><br>
										<label>Action Parameter :<input type="search" name="actionParameterAreq" id="actionParameterAreq"
											class="form-control form-control-sm" placeholder="ActionParameter"
											onfocus="this.placeholder=''" onblur="this.placeholder='ActionParameter'"
											aria-controls="dataTable">
										</label>
										
									</div>
								</div>
								
								<div class="card position-relative" id="actionRes" style=display:none;>
									<div class="card-header py-3">
										<h6 class="m-0 font-weight-bold text-primary">ActionRes</h6>
									</div>
									<div class="card-body">
										
										<label>Attribute ID :<input type="search" name="atIdAres" id="atIdAres"
											class="form-control form-control-sm" placeholder="AttributeID"
											onfocus="this.placeholder=''" onblur="this.placeholder='AttributeID'"
											aria-controls="dataTable">
										</label><br>
										<label>Result :<input type="search" name="resultAres" id="resultAres"
											class="form-control form-control-sm" placeholder="result"
											onfocus="this.placeholder=''" onblur="this.placeholder='result'"
											aria-controls="dataTable">
										</label><br>
										<label>Action Size :<input type="search" name="actionSizeAres" id="actionSizeAres"
											class="form-control form-control-sm" placeholder="ActionSize"
											onfocus="this.placeholder=''" onblur="this.placeholder='ActionSize'"
											aria-controls="dataTable">
										</label><br>
										<label>Action Parameter :<input type="search" name="actionParameterAres" id="actionParameterAres"
											class="form-control form-control-sm" placeholder="ActionParameter"
											onfocus="this.placeholder=''" onblur="this.placeholder='ActionParameter'"
											aria-controls="dataTable">
										</label>
										
									</div>
								</div>
								
								
								<div class="card position-relative" id="eventReq" style=display:none;>
									<div class="card-header py-3">
										<h6 class="m-0 font-weight-bold text-primary">EventReq</h6>
									</div>
									<div class="card-body">
										<label>Attribute ID :<input type="search" name="atIdEreq" id="atIdEreq"
											class="form-control form-control-sm" placeholder="AttributeID"
											onfocus="this.placeholder=''" onblur="this.placeholder='AttributeID'"
											aria-controls="dataTable">
										</label><br>
										<label>Attribute Size :<input type="search" name="atSizeEreq" id="atSizeEreq"
											class="form-control form-control-sm" placeholder="AttributeSize"
											onfocus="this.placeholder=''" onblur="this.placeholder='AttributeSize'"
											aria-controls="dataTable">
										</label><br>
										<label>Attribute Data :<input type="search" name="atDataEreq" id="atDataEreq"
											class="form-control form-control-sm" placeholder="AttributeData"
											onfocus="this.placeholder=''" onblur="this.placeholder='AttributeData'"
											aria-controls="dataTable">
										</label>
										
									</div>
								</div>
								

								<div class="card position-relative">
									<div class="card-header py-3">
										<h6 class="m-0 font-weight-bold text-primary">Result</h6>
									</div>
									<div class="card-body">



										<!--
									<div class="dropdown mb-4">
									
										<button class="btn btn-primary dropdown-toggle" type="button"
											id="dropdownMenuButton" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false">Dropdown
										</button>
										<div class="dropdown-menu animated--fade-in"
											aria-labelledby="dropdownMenuButton" style="">
											<a class="dropdown-item" href="#">Action</a> <a
												class="dropdown-item" href="#">Another action</a> <a
												class="dropdown-item" href="#">Something else here</a>
										</div>
										
									</div>
									-->
										<div class="form-group">

											<textarea class="form-control" name="result" id="result"
												rows="10"></textarea>
										</div>

									</div>


								</div>

								
								<input type="hidden" name="isSend" id="isSend" value="false"
										class="form-control form-control-sm" 
										aria-controls="dataTable">
								<button type="submit" class="btn btn-outline-primary" onClick="button_click()">전송</button>
								<button type="button" class="btn btn-outline-secondary">저장</button>

							</div>
						</div>
					</form>
					<div class="container-fluid"></div>
				</div>
			</div>
		</div>


		<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		
		<script src="js/park.js"></script>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
			integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
			crossorigin="anonymous"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
			integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
			crossorigin="anonymous"></script>

		<!-- Bootstrap core JavaScript
  <script src="vendor/jquery/jquery.min.js"></script>-->
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Core plugin JavaScript-->
		<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

		<!-- Custom scripts for all pages-->
		<script src="js/sb-admin-2.min.js"></script>

		<!-- Page level plugins -->
		<script src="vendor/datatables/jquery.dataTables.min.js"></script>
		<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

		<!-- Page level custom scripts -->
		<script src="js/demo/datatables-demo.js"></script>
</body>
</html>